body {
  background-color: #1996da;
  font-family: Lato, sans-serif;
}

* {
  text-align: center;
}

.container {
  padding-top: 3rem;
  color: white;
  max-width: 75%;
  margin: auto;
}

.row {
  display: flex;
  letter-spacing: 0.1rem;
}

.justify-center {
  justify-content: center;
}

.justify-space-between {
  justify-content: space-between;
}

.one-fourth {
  flex-basis: calc(30%);
}

.img-cont {
  border-radius: 100%;
  width: 5px;
  height: 5px;
  margin: 1.25rem auto;
  padding: 3.75rem;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

img {
  height: 60px;
}

h2 {
  font-size: 1.9rem;
  font-weight: 600;
}

h3 {
  margin-top: 2.1rem;
}

p {
  max-width: 90%;
  margin: auto;
  font-size: 0.75rem;
}
