div {
  width: 50%;
  margin: auto;
}

h2 {
  width: 100%;
  text-align: center;
  color: #ec5d57;
  font-family: AtlasGrotesk, sans-serif;
  font-size: 0.9rem;
}

.fill {
  width: 100%;
  height: 2rem;
  border-radius: 5px;
  border: 1px solid #e0e1e1;
}

select {
  background-color: #f3f3f3;
}

label {
  font-family: Brandon Grotesque, sans-serif;
  font-weight: 575;
  padding-left: 0.65rem;
  font-size: 0.7rem;
}

.submit {
  float: right;
  padding: 0.5rem 1.2rem;
  border-radius: 100px;
  color: white;
  background-color: #ec5d57;
  border: 0;
}

::placeholder {
  padding-left: 0.45rem;
  color: #e0e1e1;
}
