body {
  font-family: Karla, sans-serif;
}

.container {
  max-width: 67.5%;
  margin: auto;
}

.row-head {
  max-width: 73%;
  margin: auto;
  text-align: center;
  font-weight: 500;
}

h1 {
  font-size: 3rem;
  margin-top: 60px;
  margin-bottom: 20px;
  letter-spacing: 0.2rem;
}

p {
  color: #454545;
  line-height: 1.7rem;
  font-size: 0.9rem;
  font-weight: 500;
}

.row-body {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.bubble {
  display: flex;
  max-width: 45%;
  margin: 17px 0;
}

img {
  height: 110px;
}

.description {
  padding-left: 0.5rem;
}

.info-name {
  font-size: 1rem;
  padding-top: 16px;
}

.row-foot {
  text-align: center;
  font-weight: 500;
  margin: 25px 0 120px 0;
}

button {
  color: #d14c45;
  border: 2px solid #d14c45;
  background-color: white;
  padding: 0.6rem 2.7rem;
  letter-spacing: 0.05rem;
  font-weight: 700;
}
